﻿Page {
    background-color: #202020;
    font-family: 'Quantico-Regular';
}
ActionBar {
    background-color: #9AC30D;
    font-family: monospace;
}
.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
    color: red;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

button {
    horizontal-align: center;
    padding: 2px 25px;
    color: #9AC30D; font-family: 'Quantico-Regular';
    background-color: transparent;
    border-color: #9AC30D;
}

.odd {
    background-color: hotpink
}

.even {
    background-color: lightseagreen;
}

.btn {
    horizontal-align: stretch;
    text-align: center;
    color:#3F60F9;
}

.btn-primary {
  background-color: #3F60F9;
  color: #fff;
  padding: 10px 20px;
}

.input {
  margin: 30px;
  color:#444;
}